body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

.navbar {
  background: #1c1c1c;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a:hover {
  text-decoration: underline;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.chart-section {
  padding: 2rem;
  text-align: center;
}

canvas {
    width: 100% !important;
  height: 500px !important;
  margin-top: 2rem;
}
.chart-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#baseCurrency {
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin: 12px 0;
  min-width: 280px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#baseCurrency:hover {
  border-color: #666;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#baseCurrency:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}










#compareCurrency {
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin: 12px 0;
  min-width: 280px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#compareCurrency:hover {
  border-color: #666;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#compareCurrency:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
